.leaflet-bar .leaflet-control-draw-measure {
  display:none;
}
.noprint{
  display:none;
}
#printBtn {
  display:none;
}
.leaflet-control-zoomhome {
  display:none;
}
.leaflet-draw-toolbar {
  display:none;
}
#export {
  display:none;
}
.leaflet-bookmarks-control {
  display:none;
}
.leaflet-control-filelayer {
  display:none;
}
.leaflet-control-layers {
  display:none;
}